<nav class="navbar navbar-toggleable fixed-top scm-navbar">
  <div class="collapse navbar-collapse d-flex" id="nav-bar">
    <div class="row p-2 mr-auto">
    <h4 class="my-0 font-weight-normal">Flower Shop</h4>
      <img src='/assets/img/star_half.svg'>
    </div>
    <form class="form-inline p-2">
    <input type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#" (click)="doGoogleLogin()">{{ loginStatus }}</a>
      </li>
    </ul>
    </form>
  </div>
</nav>