.buttons {
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 600px;
}

.buttons .allCheck {
    margin-right: 5px;
}

.product_list {
    position: absolute;
    width: 400px;
    margin-right: 40px;
}

.product_list :hover{
    cursor: pointer;
}

.product_list .checks {
    vertical-align: top;
    margin-right: 10px;
}

.product_list .imgs {
    width: 50px;
    height: 50px;
}

.product_list .names {
    padding-top: 3px;
}