<form id="Myform" name="Myform" method="post">
    <div class="row buttons">
        <button type="button" class="btn btn-outline-primary btn-sm allCheck">전체선택/취소</button>
        <button type="button" class="btn btn-outline-primary btn-sm allReset">장바구니</button>
    </div>
    <table width="600px"> 
        <tr>
            <td *ngFor="let productList of productLists">
                <table class="product_list" (click)="productDetailOpen(productList)">
                    <tr>
                        <td valign="top" *ngIf="productList.img != null">
                            <input type="checkbox" class="checks"/>
                            <img class="imgs" [src]="productList.img">
                        </td>
                        <td valign="top" *ngIf="productList.img == null">
                            <input type="checkbox" class="checks"/>                            
                            <img class="imgs" src="https://picsum.photos/200/300/?blur">
                        </td>
                    </tr>
                    <tr>
                        <td class="names">
                            <span>{{productList.name}}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>