<form id="Myform" name="Myform" method="post">
    <div class="row buttons">
        <button type="button" class="btn btn-outline-primary btn-sm allCheck">전체선택/취소</button>
        <button type="button" class="btn btn-outline-primary btn-sm allReset">장바구니에 넣기</button>
    </div>
    <table width="600px"> 
        <tr>
            <td *ngFor="let productList of productLists">
                <table class="product_list" (click)="productDetailOpen(productList)">
                    <tr>
                        <td valign="top">
                            <input type="checkbox" class="checks"/>
                            <img class="imgs" [src]="productList.img">
                        </td>
                    </tr>
                    <tr>
                        <td class="names">
                            <span>{{productList.name}}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

<div *ngIf="detailOpen">
    <sh-product-details [productList]="productList" (detailClose)="detailClose()"></sh-product-details>
</div>