<h4>카테고리 등록/수정/삭제</h4>

<button type="button" class="btn btn-outline-primary btn-sm" (click)="categoryChange('create')">카테고리 등록</button>

<table class="table" width="600px"> 
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">카테고리명</th>
            <th scope="col">사용여부</th>
            <th scope="col">설명</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="categoryChange('edit')">수정</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="categoryChange('delete')">삭제</button>
            </td>
        </tr>
    </tbody>
  </table>
  