<button type="button" class="btn btn-outline-primary btn-sm" (click)="categoryChange('create')">카테고리 등록</button>

<ng-template
*ngIf="categories.length > 0;then categoriesExist; else categoriesNotExist">
</ng-template>

<ng-template #categoriesExist>
    <table class="table" width="600px"> 
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">카테고리1</th>
                <th scope="col">카테고리2</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.no}}
                </td>
                <td>{{category.name1}}
                </td>
                <td>{{category.name2}}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="categoryChange('edit', category.no)">수정</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="categoryChange('delete', category.no)">삭제</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #categoriesNotExist>
    <p>
        There is no data uploaded.
    </p>
</ng-template>
